html {
    scroll-behavior: smooth;
}

.main-container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.game-area {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menu-area {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-area {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-area {
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.btn-row-1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    width: 100%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #92d9e0;
    border-style: solid;
    border-radius: 10px;
    border-color: #72bdc4;
    color: white;
    transition: all 0.5s;
}

.btn-1:hover {
    cursor: pointer;
    background-color: #72bdc4;
}

.btn-row-3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.btn-3 {
    width: 50px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #92d9e0;
    border-style: solid;
    border-radius: 10px;
    border-color: #72bdc4;
    color: white;
    transition: all 0.5s;
}

.btn-3:hover {
    cursor: pointer;
    background-color: #72bdc4;
}

.starting-area {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.play-button {
    background-color: #92d9e0;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-radius: 15px;
    border-color: #72bdc4;
    transition: all 0.5s;
}

.play-button:hover {
    background-color: #72bdc4;
    cursor: pointer;
}

.number-container {
    width: 60px;
    height: 60px;
    border-color: #72bdc4;
    border-width: thin;
    border-style: solid;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.text-button-small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.square-container {
    border-color: #72bdc4;
    border-style: solid;
    border-width: thin;
    width: 180px;
}

.horizontal-direction {
    display: flex;
    flex-direction: row;
}

.headline-1 {
    font-size: 50px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #92d9e0;
}

.number-1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #717575;
}

.not-playable {
    background-color: #edfeff;
}

.playable {
    cursor: pointer;
    position: relative;
}

.circle {
    width: 80%;
    height: 80%;
    border-color: #92d9e0;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
}